.note {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  word-break: break-word;
  border-bottom: 1px dashed var(--text-dark);
}

.note__layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
}

.note__content {
  filter: sepia(100%);
}

.note__author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.note__authorName {
  filter: sepia(100%)
}

.note__timestamp {
  font-size: .8rem;
}

.note__media {
  object-fit: contain;
  max-width: 100%;
  max-height: 50dvh;
  filter: sepia(100%);
}

.note__media:hover {
  filter: none;
}

@media (max-width: 670px) {
  .note {
    max-width: 100%;
    width: 100%;
  }

  .note__layout {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .note__media {
    width: 100%;
    margin: 0 auto;
  }
}
