.speechBubble {
  position: relative;
  max-width: 75dvw;
  max-height: 75dvh;
  width: fit-content;
  background: white;
  border: 3px solid black;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #333;
  font-size: 3rem;
}

.speechBubble--left {
  margin-right: 20%;
}

.speechBubble--right {
  margin-left: 20%;
}

.speechBubble__content, .speechBubble__content * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  gap: 4px
}

.speechBubble__arrowBit {
  position: absolute;
  bottom: 5%;
  background: white;
  border-bottom: 3px solid black;
  width: 25%;
  height: 25%;
  z-index: -1;
}

.speechBubble__arrowBit--left {
  transform: skewX(-10deg);
  border-left: 3px solid black;
  left: 5%;
}

.speechBubble__arrowBit--right {
  transform: skewX(10deg);
  border-right: 3px solid black;
  right: 5%;
}
